.pokemon {
  background-color: #ffffff;
  border: 1px solid grey;
  overflow: hidden;
  width: 20rem;

  &__name {
    background-color: var(--secondary-color);
    padding: 1.5rem;
    width: 100%;
  }

  &__image {
    & > img {
      width: 100%;
    }
  }
}
